@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'S-CoreDream-3Light', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --body--color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background-color: var(--body--color);
}

.root{
    display: flex;
    width: 100%;
    height: 92.7%;
}

.sidebar{
    width: 250px;
    height: 100%;
    background-color: var(--sidebar-color);
}

i {
    cursor: pointer;
}

.main{
    width: 100%;
    background-color: var(--body--color);
} 

.main-body {
    height: 95.6%;
    margin: 20px;
    background-color:  var(--sidebar-color);
    border: #dee2e6 1px solid;
    overflow: auto;
}

.main-header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #dee2e6;
    color: var(--primary-color);
}

.main-header h2{
    text-align: center;
}

.main-header div:first-child{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 33vw;
}

.main-header div:first-child i{
    font-size: 18px;
}

.main-header div.header-tools{
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-left: 30vw;
    font-size: 32px;
}

/* user data tag */

.user-data{
    display: flex;
    align-items: center;
    border-right: solid 1px #dee2e6;
    border-bottom: solid 1px #dee2e6;
    height: 32px;
}

.user-data div{
    text-align: center;
}

.user-data > div:first-child{
    width: 100px;
    border-right: solid 1px #dee2e6;
}

.user-lec-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.user-lec-tag div{
    color : var(--sidebar-color);
    width: 160px;
    height: 28px;
    border-radius: 5px;
    background-color: var(--text-color);
    margin-right: 5px;
    font-size: 15px;
    padding-top: 2px;
}

.date.hidden {
    display: none;
}

.date{
    width: 220px;
    height: 80px;
    background-color: var(--sidebar-color);
    border-radius: 10px;
    border: var(--toggle-color) solid 1px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.date > div{
    /* display: block; */
    margin-top: 10px;
}

.date input{
    width: 178px;
}

.date button{
    width: 178px;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

/* .main-body div div{
    margin-bottom: 3px;
    height: 30px;
    background-color: var(--primary-color);
} */