@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    /* Colors */
    --body--color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

*{
    font-family: 'S-CoreDream-3Light', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: var(--body--color);
}
/* ===== Resuable CSS ===== */
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar2 .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar2 .menu-links .nav.a{
    display: flex;
    align-items: center;
    margin-left: 9px;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.sidebar2 .menu-links .nav.a .text.nav-text{
    margin-right: 15px;
} 

.sidebar2 .menu-links .nav_link a span{
    color: var(--text-color);
}


/* ===== Sidebar ===== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar2{
    position: fixed;
    top: 0;
    left: 250px;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-03);
    z-index: 50;
}

.sidebar2.close{
    visibility: hidden;
    opacity: 0;
}

.sidebar2.close2{
    left: 88px;
}

.sidebar.close{
    width: 88px;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar2 li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--sidebar-color);
    transition: var(--tran-02);
}

.sidebar li .icon.close,
.sidebar li .text.close{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar2 header{
    margin-left: 10px;
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    border-bottom: solid 0.5px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

.sidebar2 header .image-text{
    display: flex;
    align-items: center;
    border-bottom: solid 0.5px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 25px;
    transition: var(--tran-03);
    cursor: pointer;
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

.sidebar2 header .toggle{
    position: absolute;
    top: 13%;
    right: 0px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.sidebar .search-box{
    background: var(--primary-color-light);
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--tran-04);
}

.sidebar .nav.a{
    background-color: var(--primary-color);
}
.sidebar .nav.a.close{
    background-color: var(--sidebar-color);
}

.text.nav-text.close{
    color: var(--text-color);
}
.text.nav-text{
    color:var(--sidebar-color);
}

.sidebar li a:hover{
    background-color: var(--primary-color) !important; 
}

.sidebar div li a:hover .icon,
.sidebar div li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar2 li a:hover{
    background-color: var(--primary-color) !important; 
}

.sidebar2 ul li a:hover .icon,
.sidebar2 ul li a:hover .text{ 
    color: var(--sidebar-color) !important;
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-content{
    margin-bottom: 40px;
}

.home{
    position: absolute;
    left: 240px; 
    height: 100%;
    width: calc(100% - 250px);
    background-color: var(--body--color);
    transition: var(--tran-02);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.home .quick-menu{
    margin-top: 18px;
    margin-left: 72px;
    width: 94%;
    height: 50px;
    border-radius: 20px;
    background-color: var(--sidebar-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-menu > div{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
}


.quick-menu .icon{
    font-size: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

.quick-menu .icon.border{
    margin-left: 12px;
    margin-right: 0px;
}

.quick-menu .icon.arrow{
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.sidebar.close ~ .home{
    left: 148px;
    width: calc(100% - 148px);
}

.sidebar.close ~ .home.close{
    left: 398px;
    width: calc(100% - 398px);
}

.sidebar ~ .home{
    left: 310px;
    width: calc(100% - 310px);
}

.sidebar ~ .home.close{
    left: 560px;
    width: calc(100% - 560px);
}

/* sheet */
.sheet{
    width: 95%;
    height: 95%;
    background-color: white;
}

table{
    table-layout: fixed;
}

table td:hover{
    box-shadow: 0 0 4px rgba(105, 92, 254, 1);
    cursor: default;
}


.main-schedule{
    overflow: auto;
    margin-top: 20px;
    display: flex;
    height: 82.81%;
    background-color: white;
}

.lecture_room{
    margin-top: 45px;
    margin-right: 5px;
}

.lecture_room li{
    width: 70px;
    height: 196.75px;
    list-style-type: none;
    background-color: white;
    margin-left: 2px;
    box-shadow: 0 0 0 2px #000;
    margin-bottom: 1px;
    display: flex; /* 플렉스 컨테이너 설정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center;
}

.lecture_room li:nth-child(even){
    margin-bottom: 45px;
}

table thead tr:nth-child(1) td{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: black;
    border: 1px solid;
    border-color: black;
}

table thead tr:nth-child(2) td{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: var(--sidebar-color);
    border: 1px solid;
    border-color: black;
}

table tbody td{
    border: 1px solid;
    border-color: var(--toggle-color);
    width: 18px !important;
    height: 18px !important;
    min-width: 18px;
    min-height: 18px;
    overflow: visible;
    white-space: nowrap;
    font-size:10px;
    max-width: 18px;
    font-weight: bold;
}

td.selected{
    box-shadow: 0 0 1.5px rgba(105, 92, 254, 1);
}


.row-block{
    background-color: var(--toggle-color);
}

/* quick menu */


.quick-menu i.icon:hover{
    cursor: pointer;
    background-color: var(--body--color);
    color: black;
}

.quick-menu i.icon{
    color: gray;
}

.merge{
    width: 27px !important; 
    height: 27px !important;
    background-image: url("../imges/mergeicon22.png"); 
    background-size: cover
}

.merge:hover{
    background-image: url("../imges/mergeicon.png"); 
    cursor: pointer;
    background-color: var(--body--color);
}

#quick-menu-hover{
    border-radius: 0px;
    width: 80px;
    height: 20px;
    font-size: 10px;
}

/* modal */
div.modal{
    width: 400px;
    height: 400px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

div.modal.hidden{
    display: none;
}

.modal{
    display:flex;
    justify-content:center;
    align-items: center;
    width:400px;
    height:100%;
    background-size: cover;
    overflow:overlay;
    /* font-family: 'SUITE-Regular', sans-serif; */
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.exit{
    cursor: pointer;
}

#lecture_modal{
    width:400px;
    height:250px !important;
}

#border_modal{
    width:220px !important; 
    height:50px !important;
}

#border_modal i{
    position: relative;
    z-index: 1000;
    font-size : 25px;
}

#border_modal div{
    margin-top: 5px;
}
.border-menu a:hover{
    cursor: pointer;
    background-color: var(--body--color);
    color: red;
}

.modal::before{
    content: "";
    position:absolute; z-index:1;
    top:0; right:0; bottom:0; left:0;
}

/* error popup */

.errormodal.hidden{
    display: none;
}

.errormodal{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--sidebar-color);
    width: 430px;
    height: 200px;
    border: var(--toggle-color) solid 1px;
    border-radius:15px;
    display : flex; 
    align-items: center;
}

.errormodal div:first-child{
    margin-right: 15px;
    /* border-radius: 15px 15px 0 0;
    height: 140px; */
}

.errormodal div:nth-child(2){
    width: 100%;
}

.errormodal .bx.bx-x-circle.exit.error {
    position: absolute;
    color : var(--primary-color);
    top: 10px; /* 원하는 위치로 조절하세요 */
    right: 10px; /* 원하는 위치로 조절하세요 */
}

.errormodal i.bx.bx-error{
    margin-left: 10px;
    font-size : 130px;
    color : var(--primary-color);
}

/*  */

/* teachar popup */
#teacher-hover{
    border-radius: 0px;
    width: 40px;
    height: 20px;
    font-size: 10px;
}
/*  */

/* memo popup */
.memo.hidden {
    display: none;
}

.memo {
    position: absolute;
}
/*  */

/* date popup */
.date.hidden {
    display: none;
}

.date{
    width: 200px;
    height: 115px;
    background-color: var(--sidebar-color);
    border-radius: 10px;
    border: var(--toggle-color) solid 1px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.date > div{
    /* display: block; */
    margin-top: 10px;
}

.date button{
    width: 90%;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

/* background color modal */
.background_modal.hidden{
    display: none;
}

#backgroundcolor_modal{
    width: 240px;
    height: 300px;
    background-color: var(--sidebar-color);
    border-radius: 10px;
    border: var(--toggle-color) solid 1px;
    position: absolute;
}

.palette{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center; /* 수평 가운데 정렬 */
}

.backgroundcolor_modal-menu .palette div{
    width: 19px;
    height: 19px;
    border-radius: 19px;
    background-color: var(--body--color);
    margin: 1px;
    cursor: pointer;
}

.palette.basic{
    margin-bottom: 5px;
}

.palette-text{
    padding-left: 5px;
}

.pl{
    margin: 5px;
    padding-top: 10px;
    border-top: var(--toggle-color) solid 1px;
}

.pl div{
    font-size: 14px;
    font-weight: bold;
}

/*  */

.login_form{
    position:relative; 
    z-index:2;
}
.login_form h1{
    font-size: 32px; color: black;
    text-align: center;
}
.int_area{
    width:300px;
    position: relative;
    margin-top: 10px;
}
.int_area:first-child{
    margin-top:0;
}
.int_area input{
    font-weight: bold;
    width:100%;
    padding:20px 10px 5px;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #999;
    font-size:14px; 
    color:black;
    outline:none;
}

.int_area label{
    position: absolute;
    left: 10px;
    top:15px;
    font-size: 18px;
    color:#999;
    transition: all .5s ease;;
    pointer-events: none;
}

@keyframes warning {
    0% { transform: translate(-9px); }
    25% { transform: translate(9px); }
    50% { transform: translate(-9px); }
    75% { transform: translate(9px); }
}
.int_area label.warning {
    color: red !important;
    animation: warning 0.3s ease; /* 애니메이션 시간을 설정해줍니다 */
    animation-iteration-count: 3;
}

.int_area input:focus + label,
.int_area input:valid + label{
    top:-5px;
    font-size: 15px;
    color: var(--primary-color);
    font-weight: bold;
}

.btn_area{
    margin-top: 50px;
}
.btn_area button{
    width: 100%;
    height:50px;
    background: var(--primary-color);
    color:#fff;
    font-size:20px;
    border:none;
    border-radius:15px;
    cursor: pointer;
    font-weight: bold;
}

.btn_area button:disabled {
    background: #999;
    cursor: not-allowed;
}

.caption{
    margin-top : 20px;
    text-align:center;
}
.caption a{
    font-size:15px; color: #999;
    text-decoration: none;
    font-weight: bold;
}

.error_message{
    color: red;
}

  .disabled_btn {
    background: gray;
  }

  .button{
    padding-right: 10px;
    padding-left: 10px;
    height:35px;
    background: #59B95F;
    color:#fff;
    font-size:17px;
    border:none;
    border-radius:15px;
    cursor: pointer;
    font-weight: bold;
}

.back{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0);
    background-color: white;
    font-size: 20px;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.bx.bx-x-circle{
    position: absolute;
    font-size: 24px;
    right: 0;
    top: -7px;
}

.bx.bx-log-out.icon,
.text.nav-text.logout{
    color: var(--text-color);
}