@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

:root{
    /* Colors */
    --body--color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 90%;
    height: 100px;
    margin:0 auto;
    display: flex;
    align-items: center;
    z-index:100;
    position : sticky;
    top : 0px;
    /* align-item 영역의 수직방향 중앙에 위치시킨다. */
}

header > h1 > a{
    font-family: a;
    color : black;
    text-decoration: none;
    margin-left : 250px;
}

nav{
   margin-left: 10vw;
}


nav > ul:nth-child(2){
    margin-left: 10vw;
}


nav > ul{
    display: inline-block;
}

nav > ul > li{
    display: inline-block;
    margin:0 10px;
}

nav > ul > li > a{
    color : black;
    text-decoration: none;
}

nav > ul > li > a:hover{
    color : var(--primary-color);
    cursor: pointer;
}

#user-a:hover {
    color : black;
    cursor: default;
}

footer{
    width: 70%;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-color: #dee2e6;
    border-top-style: solid;
    border-block-width: 1px;
    /* align-item 영역의 수직방향 중앙에 위치시킨다. */
}