@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
    font-family: 'S-CoreDream-3Light', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title{
    font-family: 'PyeongChangPeace-Bold', sans-serif;
}

.body{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100%;
    /* background: url("bg.jpg") no-repeat center; */
    background-size: cover;
    overflow:overlay;
    font-family: 'SUITE-Regular', sans-serif;
}

.body::before{
    content: "";
    position:absolute; z-index:1;
    top:0; right:0; bottom:0; left:0;
    /* background-color:rgba(0,0,0,.7);  */
}

.login_form{
    position:relative; 
    z-index:2;
    margin-bottom: 90px;
}
.login_form h1{
    font-size: 32px; color: black;
    text-align: center;
    margin-bottom: 30px;
}
.int_area{
    width:400px;
    position: relative;
    margin-top: 20px;
}
.int_area:first-child{
    margin-top:0;
}
.int_area input{
    font-weight: bold;
    width:100%;
    padding:20px 10px 10px;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #999;
    font-size:18px; 
    color:black;
    outline:none;
}

.int_area label{
    position: absolute;
    left: 10px;
    top:15px;
    font-size: 18px;
    color:#999;
    transition: all .5s ease;;
    pointer-events: none;
}

@keyframes warning {
    0% { transform: translate(-9px); }
    25% { transform: translate(9px); }
    50% { transform: translate(-9px); }
    75% { transform: translate(9px); }
}
.int_area label.warning {
    color: red !important;
    animation: warning 0.3s ease; /* 애니메이션 시간을 설정해줍니다 */
    animation-iteration-count: 3;
}

.int_area input:focus + label,
.int_area input:valid + label{
    top:-5px;
    font-size: 15px;
    color: #166cea;
    font-weight: bold;
}

.btn_area{
    margin-top: 30px;;
}
.btn_area button{
    width: 100%;
    height:50px;
    background: #695CFE;
    color:#fff;
    font-size:20px;
    border:none;
    border-radius:15px;
    cursor: pointer;
    font-weight: bold;
}

.btn_area button:disabled {
    background: #999;
    cursor: not-allowed;
}

.caption{
    margin-top : 20px;
    text-align:center;
}
.caption a{
    font-size:15px; color: #999;
    text-decoration: none;
    font-weight: bold;
}

.error_message{
    color: red;
}

.disabled_btn {
    background: gray;
}

.button{
    padding-right: 10px;
    padding-left: 10px;
    height:35px;
    background: #59B95F;
    color:#fff;
    font-size:17px;
    border:none;
    border-radius:15px;
    cursor: pointer;
    font-weight: bold;
}

.back{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0);
    background-color: white;
    font-size: 20px;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
}