{% load static %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/calendarManage.css' %}">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/index.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% include 'frontapp/header.html' %}
    <div class = "root">
        <div class = "sidebar">  
            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">       
                        <li class="nav_link teacher">
                            <a class="nav a close">
                                <i class='bx bx-calendar icon'></i>
                                <span class="text nav-text close">강사 시수</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class = "main">
            <div class = "main-body">
                <div class = "main-header">
                    <div>
                        <i class='bx bxs-left-arrow' style="margin-right: 20px;"></i>
                        <h2 class = 'calendarDate' style="width: 200px; white-space: nowrap;"></h2>
                        
                        <i class='bx bxs-right-arrow' style="margin-left: 20px;"></i>
                    </div>
                    <div class = "header-tools">
                        <i class='bx bx-calendar'></i>
                    </div>
                </div>
                <div class = "main-contents">
                  
                </div>
            </div>
        </div>
    </div>

    <div class="date hidden" id = "date">
        <div>
            <input type="month" id="startMonthPicker" name="startMonth">
        </div>
        <button id = "dateSelect">조회</button>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/calendarManage.js' %}"></script>
</body>