{% load static %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/schedule.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'imges/logo.png' %}" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">스케줄 관리</span>
                    <span class="profession">Scheduling</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <!-- <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="search" placeholder="Search...">
                </li> -->
                <ul class="menu-links">       
                    <li class="nav_link teacher">
                        <a class="nav a close">
                            <i class='bx bx-pencil icon close'></i>
                            <span class="text nav-text close">강사</span>
                        </a>
                    </li>
                    <li class="nav_link room">
                        <a class="nav a close">
                            <i class='bx bx-building-house icon close'></i>
                            <span class="text nav-text close">강의장</span>
                        </a>
                    </li>
    
                </ul>
            </div>

            <div class="bottom-content">
                <li class="logout">
                    <a  id = "logout" onclick="onLogout()">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text logout">로그아웃</span>
                    </a>
                </li>
            </div>

        </div>
    </nav>

    <nav class="sidebar2 close close2" id ="sidebar_teacher">
        <header>
            <div class="image-text">
                <div class="text header-text">
                    <span class="name">강사 현황</span> 
                    <span class="profession">Instructor Status</span>
                </div>
            </div>

            <i class='bx bx-user-plus toggle'></i>
            <i class='bx bx-edit toggle'></i>
        </header>
        <ul class="menu-links">
            <li class="nav_link teacher color">
  
            </li>
        </ul>
    </nav>

    <nav class="sidebar2 close close2" id ="sidebar_room">
        <header>
            <div class="image-text">
                <div class="text header-text">
                    <span class="name">강의장 현황</span> 
                    <span class="profession">Lecture hall Status</span>
                </div>
            </div>

            <i class='bx bx-user-plus toggle room'></i>
        </header>
        <ul class="menu-links">
        </ul>
    </nav>

    <section class="home table-menu">
        <div class="quick-menu">
            <div>
                <i class='bx bx-calendar icon'></i>
            </div>
            <div style="border-left: 1px solid lightgray;">
                <i class='bx bx-font-color icon'></i>
                <i class='bx bx-save icon'></i>
            </div>
            <div style="border-left: 1px solid lightgray;">
                <i class='bx bx-border-all icon border' ></i>
                <i class='bx bx-chevron-down icon arrow'></i>
                <i class='merge icon'></i>
                <i class='bx bxs-color-fill icon'></i>
            </div>
            <div style="border-left: 1px solid lightgray;">
                <i class='bx bx-memory-card icon'></i>
                <i class='bx bx-plus icon plus'></i>
                <i class='bx bx-check icon'></i>
            </div>
        </div>

        <div class="main-schedule">
            <div class="lecture_room">
     
            </div>

            <div class="sheet">
                <table class="cell-table">
  
                </table>
            </div>
        </div>
    </section>
    

    <div class="modal hidden">
        <section class="login_form">
            <i class='bx bx-x-circle exit'></i>
            <div class="int_area">
                <input type="text" name="email" id="email" autocomplete="off" required></input>
                <label for="email" class="{showWarning ? 'warning' : ''}">EMAIL</label>
            </div>
            <div class="int_area">
                <input type="text" name="name" id="name" autocomplete="off" required></input>
                <label for="name" class="{showWarning ? 'warning' : ''}">NAME</label>
            </div>
            <div class="int_area">
                <input type="password" name="password" id="password" autocomplete="off" required></input>
                <label for="password" class="{showWarning ? 'warning' : ''}">PASSWORD</label>
            </div>
            <div class="int_area">
                <input type="text" name="phonenumber" id="phonenumber" autocomplete="off" required></input>
                <label for="phonenumber" class="{showWarning ? 'warning' : ''}">PHONE NUMBER</label>
            </div>
            <div class="btn_area">
                <button type="submit" onclick="onDataPost()">회원가입</button>
            </div>
        </section>
    </div>

    <div class="modal hidden" id = "lecture_modal">
        <section class="login_form">
            <i class='bx bx-x-circle exit room'></i>
            <div class="int_area">
                <input type="text" name="room" id="room_name" autocomplete="off" required></input>
                <label for="room_name" class="{showWarning ? 'warning' : ''}">강의장 이름</label>
            </div>
            <div class="btn_area">
                <button type="submit" onclick="onDataLecturePost()">등록</button>
            </div>
        </section>
    </div>

    <div class="modal tools hidden" id = "border_modal">
        <div class = "border-menu">
            <i class='bx bx-border-right icon' ></i>
            <i class='bx bx-border-left icon' ></i>
            <i class='bx bx-border-top icon' ></i>
            <i class='bx bx-border-bottom icon' ></i>
            <i class='bx bx-border-none icon' ></i>
            <i class='bx bx-border-all icon' ></i>
            <i class='bx bx-border-outer icon'></i>
        </div>
    </div>

    <div class = "background_modal tools hidden" id = "backgroundcolor_modal">
        <div class = "backgroundcolor_modal-menu">
            <div class = "palette-first">
                <div class = "palette basic">
                    <div style="background-color: rgb(0, 0, 0);"></div><div style="background-color: rgb(67, 67, 67);"></div><div style="background-color: rgb(102, 102, 102);"></div><div style="background-color: rgb(153, 153, 153);"></div><div style="background-color: rgb(183, 183, 183);"></div><div style="background-color: rgb(204, 204, 204);"></div><div style="background-color: rgb(217, 217, 217);"></div><div style="background-color: rgb(239, 239, 239);"></div><div style="background-color: rgb(243, 243, 243); border: 1px #DDD solid;"></div><div style="background-color: rgb(255, 255, 255); border: 1px #DDD solid;"></div>
                    <div style="background-color: rgb(152, 0, 0);"></div><div style="background-color: rgb(255, 0, 0);"></div><div style="background-color: rgb(255, 153, 0);"></div><div style="background-color: rgb(255, 255, 0);"></div><div style="background-color: rgb(0, 255, 0);"></div><div style="background-color: rgb(0, 255, 255);"></div><div style="background-color: rgb(74, 134, 232);"></div><div style="background-color: rgb(0, 0, 255);"></div><div style="background-color: rgb(153, 0, 255);"></div><div style="background-color: rgb(255, 0, 255);"></div>
                    <!-- <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div> -->
                </div>
            </div>
            <div class = "palette-second pl">
                <div class = "palette-text">색 추가</div>
                <div class = "palette recent-color">
                    
                </div>
            </div>
            <div class = "palette-third pl">
                <div class = "palette-text">강사색깔</div>
                <div class = "palette teacher-color">
                    
                </div>
            </div>
        </div>
    </div>
   

    <div class="errormodal hidden" id = "error">
        <div>
            <i class='bx bx-error' ></i>
        </div>
        <div>
            <i class='bx bx-x-circle exit error'></i>
            <h1> WARNING !!</h1>
            <h5 id = "error_message"></h5>
            <h5>중복되었습니다.</h5>
        </div>
    </div>

    <div class="modal hidden" id = "teacher-hover">
        <div class = "teacher-text">
          
        </div>
    </div>

    <div class="modal hidden" id = "quick-menu-hover">
        <div class = "quick-text">
          
        </div>
    </div>


    <div class="memo hidden" id = "memo">
        <textarea id="memo-text" rows="3" cols="20">
            
        </textarea>
    </div>

    <div class="date hidden" id = "date">
        <div>
            <label for="startMonthPicker">시작 :</label>
            <input type="month" id="startMonthPicker" name="startMonth">
        </div>
        <div>
            <label for="endMonthPicker">끝 :</label>
            <input type="month" id="endMonthPicker" name="endMonth">
        </div>
        <button id = "dateSelect">조회</button>
    </div>


    <script src="{% static 'js/schedule.js' %}"></script>
</body>