{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/table.css' %}">
    <title>Document</title>
</head>
<body>
    <script src="{% static 'js/table.js' %}"></script>
    <div class="modal hidden" id = "border_modal">
        <div>
            <i class='bx bx-border-none' ></i>
            <i class='bx bx-border-all' ></i>
        </div>
    </div>

</body>
</html>